{
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "never",
  "tabWidth": 2,
  "semi": false,
  "arrowParens": "always",
  "overrides": [{ "files": ".prettierrc", "options": { "parser": "json" } }]
}
